# --- RStudio ---
.Rproj.user
.Rhistory
.RData
.Ruserdata

# --- Sistema operativo / Dropbox ---
.DS_Store
*conflicted copy*

# --- Salida temporal de bookdown / knitr ---
_book/
_bookdown_files/
file*/
*.knit.md
*.utf8.md
Ciencia_Datos_con_R.Rmd
Ciencia_Datos_con_R_files/
Ciencia-Datos-con-R_files/

# --- Artefactos de LaTeX / PDF (la causa del error \@writefile) ---
*.aux
*.toc
*.lof
*.lot
*.out
*.log
*.idx
*.ind
*.ilg
*.synctex.gz
Ciencia_Datos_con_R.tex
Ciencia-Datos-con-R.*

# --- Imagenes generadas por los capitulos (se recrean en img/) ---
img/cilindro_milla.jpg
img/hex_sticker_cat.jpg
img/hex_meow_software.png

# --- Carpeta de revision y datos grandes ---
_to_delete/
cran-mirror/
